@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply bg-upforangecrayola text-white text-sm md:text-base py-2 px-6 rounded-full hover:bg-transparent hover:border hover:border-upforangecrayola hover:text-black transition-all ease-in-out;
    }

    .btn-secondary {
        @apply border border-upforangecrayola text-white text-sm md:text-base py-2 px-6 rounded-full hover:bg-upforangecrayola hover:text-white transition-all ease-in-out;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.item {
    background: white;
    width: 120px;
    height: 25px; /* Increased height */
    position: absolute;
    right: 0;
    top: -5px;
}

.item::before {
    content: '';
    /* background: red; */
    background: #14532d;
    rotate: -15deg;
    height: 2.1em;
    width: 2em;
    position: absolute;
    top: 0;
    left: -20px; /* Adjusted */
    border-radius: 0 15px 0 0;
    /* box-shadow: 0 16px 0 0 #14532d; */
}
.item::after {
    content: '';
    /* background: red; */
    background: #14532d;
    height: 2em;
    width: 2em;
    position: absolute;
    bottom: -2em;
    right: 0;
    border-radius: 0 15px 0 0;
    box-shadow: 0 -16px 0 0 #ffffff;
}

.itemone {
    background: white;
    width: 120px;
    height: 25px; /* Increased height */
    position: absolute;
    left: 0;
    top: -5px;
}

.itemone::before {
    content: '';
    /* background: greenyellow; */
    background: #14532d;
    rotate: 15deg;
    height: 2.1em;
    width: 2em;
    position: absolute;
    top: 0;
    right: -20px; /* Adjusted */
    border-radius: 15px 15px 0 0;
    /* box-shadow: 0 16px 0 0 #14532d; */
}
.itemone::after {
    content: '';
    /* background: #14532d; */
    /* background: yellow; */
    height: 2em;
    width: 2em;
    position: absolute;
    bottom: -2em;
    left: 0;
    transform: scale(-1, 1);
    border-radius: 0 15px 0 0;
    box-shadow: 0 -16px 0 0 #ffffff;
}
